.supportChat {
  position: fixed;
  bottom: var(--spacing-lg);
  right: var(--spacing-lg);
  background-color: var(--accent-blue);
  color: var(--white);
  border: none;
  width: 201px;
  height: 48px;
  border-radius: 100px;
  padding: 12px 36px 12px 32px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
  box-shadow: var(--shadow-md);
  z-index: 1000;
}

.supportChat:hover {
  background-color: #004494;
}

.icon {
  font-size: var(--font-size-large);
  
}
