.navigation {
  width: 960px;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: var(--spacing-xl) auto 0 auto;  /* Center the navigation */
  padding-top: var(--spacing-lg);
}

.leftButtons {
  display: flex;
}

.rightButtons {
  display: flex;
  gap: var(--spacing-xl);
}

/* Exit Button */
.exitButton {
  /* width: 93px; */
  height: 48px;
  background-color: var(--white);
  color: var(--accent-blue);
  border: 1.5px solid var(--accent-blue);
  border-radius: 8px;
  padding: 0px 32px;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  cursor: pointer;
}

/* Previous Button */
.previousButton {
  /* width: 128px; */
  height: 48px;
  background-color: var(--white);
  color: var(--accent-blue);
  border: 1.5px solid var(--accent-blue);
  border-radius: 8px;
  padding: 0px 32px;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  cursor: pointer;
}

/* Save Button */
.saveButton {
  /* width: 100px; */
  height: 48px;
  background-color: var(--accent-blue);
  color: var(--white);
  border: none;
  border-radius: 8px;
  padding: 0px 32px;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  cursor: pointer;
}

/* Continue Button */
.continueButton {
  /* width: 131px; */
  height: 48px;
  background-color: var(--accent-blue);
  color: var(--white);
  border: none;
  border-radius: 8px;
  padding: 0px 32px;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  cursor: pointer;
}


/* Hover effects */
.exitButton:hover,
.previousButton:hover {
  background-color: var(--light-gray);
}

.saveButton:hover,
.continueButton:hover {
  background-color: #004494;
}