.header {
  background-color: var(--primary-blue);
  color: var(--white);
  width: 100%;
  padding: var(--spacing-md) 0;
}

.container {
  width: 100%;
  padding: 0 var(--spacing-2xl);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-family: var(--font-family);
  font-size: var(--header-title-size);
  font-weight: var(--header-title-weight);
  line-height: var(--header-title-line-height);
  letter-spacing: var(--header-title-letter-spacing);
  margin: 0;
}